<ion-header>
  <ion-navbar>
    <ion-title>{{text.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager>
    <ion-slide *ngFor="let slide of data">
      <h2>{{slide.text}}</h2>
    </ion-slide>
  </ion-slides>
  <div class="start-container">
    <button ion-button navPush="SignInPage">{{text.login}}</button>
    <button ion-button navPush="SignUpPage">{{text.signin}}</button>
  </div>
</ion-content>
