page-start {
  ion-slides {
    position: absolute;
    bottom: 5.3rem;
  }
  .start-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    button {
      width: 47.5%;
      margin: 0.4rem;
      &+button {
        margin-left: 0
      }
    }

  }
}
