<ion-grid>
  <ion-row justify-content-center>
    <ion-col col-auto class="arrow" tappable (click)="onBack.emit()">
      <ion-icon color="primary" ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
    </ion-col>
    <ion-col col-auto class="title">
      <div>{{monthLabel}} {{yearLabel}} </div>
    </ion-col>
    <ion-col col-auto class="arrow" tappable (click)="onForward.emit()">
      <ion-icon color="primary" ios="ios-arrow-forward" md="md-arrow-forward"></ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>