ion-calendar-month-selector {
  .grid {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0rem;
    .col {
      padding: 0 0.4rem;
      ion-icon {
        font-size: 2.5rem;
      }
    }
  }
  .title {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    color: color($colors, primary);
    padding: 0 !important;
  }
  .arrow {
    padding: 0 2rem;
  }
}