<ion-header>

  <ion-navbar>
    <ion-title>{{text.title}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ion-list>
      <h3 margin>{{text.createOwnClub}}</h3>
      <ion-item class="auth">
        <ion-label floating>{{text.enterClubName}}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item class="error" no-lines *ngIf="hasError(name, form)">
        <p *ngIf="required(name, form)">
          {{text.empty}}
        </p>
        <p *ngIf="minlength(name, form)">
          Мінімум {{PatternsProvider.min - 5}} символів
        </p>
        <p *ngIf="maxlength(name, form)">
          Максимум {{PatternsProvider.max + 10 }} символів
        </p>
      </ion-item>
      <p class="error" *ngIf="isError$ | async" margin>{{getAuthErrorMessage(error$ | async, form)}}</p>
		</ion-list>
		<div>
			<async-btn [data]="asyncBtnData"></async-btn>
    </div>
  </form>
</ion-content>
