<ion-header>
  <ion-navbar class="has-group-select" no-border-bottom>
    <ion-searchbar [placeholder]="text.search" [(ngModel)]="filter" (ionClear)="hideKeyboard()"></ion-searchbar>
    <ion-buttons end>
      <!-- *ngIf="showClients" -->
      <button ion-button navPush="AddClientPage">
        <ion-icon class="client-add" name="md-add"></ion-icon>
      </button>
      <!-- <button *ngIf="showGroups" ion-button navPush="AddGroupPage">
        <ion-icon class="add" name="md-add"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar class="group-select-container" no-border-top>
    <group-select></group-select>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div padding>
    <ion-segment [(ngModel)]="selectedList">
      <ion-segment-button [value]="ShowListEnum.clients">
        {{text.clients}}
      </ion-segment-button>
      <ion-segment-button [value]="ShowListEnum.groups">
        {{text.groups}}
      </ion-segment-button>
    </ion-segment>
  </div> -->
  <!-- !groupsService.loaded ||  -->
  <div class="spinner-container" *ngIf="clientsListIsLoading$ | async">
    <ion-spinner></ion-spinner>
  </div>
  <clients-list [filter]="filter" [data]="(clientsMapByGroupKey$ | async)[(selectedGroupKey$ | async)]"></clients-list>
  <!-- *ngSwitchCase="ShowListEnum.clients"  -->
  <!-- <div [ngSwitch]="selectedList" *ngIf="groupsService.loaded && clientsService.loaded"> -->
    <!-- <groups-list *ngSwitchCase="ShowListEnum.groups" [filter]="filter" [data]="groupsService.groups"></groups-list> -->
  <!-- </div> -->

</ion-content>
