<ion-scroll scrollX="true" class="group-scroll-bar">
  <div class="group-scroll-bar__block" *ngFor="let group of list$ | async" (click)="select(group)"
  [ngClass]="{'active': (selectedGroupKey$ | async) === group.key}">
    <span>{{group.name}}</span>
  </div>
  <div class="group-scroll-bar__block add">
    <button navPush="AddGroupPage">
      <ion-icon class="add" name="md-add"></ion-icon>
    </button>
  </div>
  <h3 margin *ngIf="!(list$ | async).length">
    {{text.emptyGroup}}
  </h3>
</ion-scroll>