group-select {
  .add {
    font-size: 2.4rem;
  }
  ion-scroll {
    ::-webkit-scrollbar {
      display: none !important;
    }
  }
  .group-scroll-bar {
    height: 4rem;
    *::-webkit-scrollbar {
      display: none !important;
    }
    .scroll-zoom-wrapper {
      display: flex;
    }
    &__block {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 50%;
      height: 4rem;
      overflow: hidden;
      &.active {
        font-weight: 500;
        border-top: 0.3rem solid transparent;
        border-bottom: 0.3rem solid color($colors, primary);
      }
      &.add {
        min-width: 3.5rem;
        button {
          background: transparent;
        }
      }
    }
  }
}