@import '../../theme/variables.scss';

page-tabs {
  .tabs-ios, .tabs-md {
    .tab-button[aria-selected=true] {
      // color: color($colors, ios);
      .tab-button-icon {
        // color: color($colors, ios);
      }
    } 
  }
}
