<ion-tabs>
  <ion-tab *ngFor="let tab of tabs"
  [tabIcon]="tab.icon" [tabTitle]="tab.title" [root]="tab.root" [rootParams]="tab.params" [tabsHideOnSubPages]="tab.hideOnSubPages"></ion-tab>
</ion-tabs>