<ion-list>
  <ion-item-sliding *ngFor="let group of list">
    <ion-item>
      <h2>{{group.name}}</h2>
      <ion-badge>{{getClientsLength(group.key)}}</ion-badge>
      <span class="client">{{text.clients}}</span>
      <!-- <h3>{{text.clientsLength}}{{getClientsLength(group.key)}}</h3> -->
      <!-- <p>{{text.amountDay}}{{group.amountDay}}</p> -->
      <!-- <p>{{text.amountMonth}}{{group.amountMonth}}</p> -->
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="warning">
        {{text.edit}}
      </button>
      <button ion-button color="danger">
        <div>{{text.hide}}</div>
        <div>{{text.fromList}}</div>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<h3 margin *ngIf="!data || !data.length">
  {{text.emptyList}}
</h3>
<h3 margin *ngIf="data && (!list || !list.length)">
  {{text.emptySearch}}
</h3>