<ion-header>

  <ion-navbar>
    <ion-title>{{text.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ion-list>
      <ion-item class="auth">
        <ion-label floating>{{text.email}}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="error" no-lines *ngIf="hasError(email, form)">
        <div *ngIf="required(email, form)">
          {{text.notEmpty}}
        </div>
        <div *ngIf="minlength(email, form)">
					{{PatternsProvider.min}} {{text.min}}
        </div>
        <div *ngIf="maxlength(email, form)">
					{{PatternsProvider.max}} {{text.max}}
        </div>
        <div *ngIf="!minlength(email, form) && !maxlength(email, form) && pattern(email, form)">
				  {{text.emailExample}}
        </div>
      </ion-item>
      <p class="error" margin *ngIf="isError$ | async">{{getAuthErrorMessage(error$ | async, form)}}</p>
    </ion-list>
    <div>
			<async-btn [data]="asyncBtnData"></async-btn>
    </div>
    <h6>{{text.note}}</h6>
  </form>
</ion-content>