<ion-header>

  <ion-navbar>
    <ion-title>Новий студент</ion-title>
    <ion-buttons end>
        <ion-spinner *ngIf="isLoading$ | async"></ion-spinner>
        <button ion-button *ngIf="!(isLoading$ | async)" [disabled]="!data.firstName || !data.lastName"
        (click)="addClient()">Створити</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <!-- <form (ngSubmit)="addClient()"> -->
    <ion-list>
      <h2 margin>Введіть обо'язкові дані</h2>
      <ion-item>
        <ion-label floating>Ім'я</ion-label>
        <ion-input type="text" [(ngModel)]="data.firstName" name="firstName" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Прізвище</ion-label>
        <ion-input type="text" [(ngModel)]="data.lastName" name="lastName" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Номер телефону</ion-label>
        <ion-input type="telephone" [(ngModel)]="data.telephone" name="telephone" required="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Виберіть групи, які буде відвідувати новий студент</ion-label>
        <ion-select [(ngModel)]="data.group" interface="action-sheet" multiple="true">
          <ion-option value="{{group.key}}" *ngFor="let group of (groups$ | async)">{{group.name}}</ion-option>
        </ion-select>
      </ion-item>
      <!-- <h2 margin>Додайте додаткові обо'вязкові дані</h2> -->
      <ion-item>
        <ion-label>Звідки дізналися?</ion-label>
        <ion-select [(ngModel)]="data.channel" interface="action-sheet">
          <ion-option value="{{channel.key}}" *ngFor="let channel of (channels$ | async)">{{channel.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <!-- <button ion-button (click)="addChannel()">Додати канал
      </button>
      -->
      <!-- </form> -->
</ion-content>
