page-home {

  .calendar-container {
    ion-grid {
      height: 4.4rem !important;
      ion-row {
        flex-direction: column !important;
      }
    }
  }

  .has-group-select {
    padding-bottom: 0;
  }

  .group-select-container {
    padding: 0;
    min-height: 4rem;
  }

  @mixin sticky-header () {
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
  }

  ion-content {
    $name-width: 4.0rem;
    $cell-width: 4.0rem;
    $date-color: #666;
    $total-background: transparent;
    // $total-background: rgba(71, 171, 213, .1);
    // $today-background: rgb(117, 3255, 112);
    $today-background: color($colors, light);

    .tabel {
      width: 100%;
      display: flex;

      ion-list {
        margin-bottom: 0;
        ion-item.item {
          height: 4.5rem;
          padding-left: 0.5rem;
          .item-inner {
            padding: 0 !important;
            ion-label.label {
              margin: 0;
            }
          }
        }
      }

      &-clients-list {
        width: 25%;
        min-width: 25%;
        @media only screen and (min-width: 500px) {
          width: 40%;
          min-width: 40%;
        }
        &__name {
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        ion-item {
          ion-label {
            display: flex;
            flex-direction: column;
          }
          &:first-child {
            padding-left: 0;
            background: $total-background;
            // here
            // @include sticky-header;
          }
          &:last-child {
            border-bottom: 0.55px solid #c8c7cc;
          }
        }
      }
      &-checkboxes-list {
        width: 100%;
        overflow-x: scroll;
        ion-item {
          &:first-child {
            // here
            // @include sticky-header;
          }
          padding-left: 0 !important;
          &:last-child {
            border-bottom: none !important;
            .input-wrapper {
              border-bottom: 0.55px solid #c8c7cc;
            }
          }
        }
        &__item-date {
          &:first-child {
            // here
            // @include sticky-header;
          }
          overflow: visible;
          .item-inner, .input-wrapper, ion-label.label {
            overflow: visible !important;
          }
          .today {
            background-color: $today-background;
          }
          ion-label.label {
            display: flex !important;
            height: 100%;
            .tabel-checkboxes-list__date {
              display: flex;
              justify-content: center;
              align-items: center;
              width: $cell-width;
              height: 44.45px;
              // input[type="checkbox"] {
                // width: 2rem;
                // height: 2rem;
              // }
            }
          }
        }
      }
      &-total-list {
        width: 10%;
        background-color: $total-background;
        ion-item {
          text-align: center;
          padding-left: 0 !important;
          &:first-child {
          }
          &:last-child {
            border-bottom: 0.55px solid #c8c7cc;
          }
        }
      }
      .dates {
        width: $cell-width;
        text-align: center;
        .day {
          color: $date-color;
          font-size: 1.5rem;
        }
      }
      .total {
        width: 100%;
        .sum {
          height: 2.1rem;
          padding-top: 0.15rem;
          color: $date-color;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .visiting-counter {
        width: 100%;
        height: 44.45px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .title {
        font-size: 1.1rem;
        overflow: hidden;
        font-weight: 500;
        white-space: normal;
      }
    }

    .item-md, .item-ios {
      background: none;
    }

  }
}
