<ion-header>
  <ion-navbar class="has-group-select" no-border-bottom>
    <ion-searchbar [placeholder]="text.search" [hidden]="showCalendar" (ionInput)="filterItems($event)" (ionClear)="hideKeyboard()"></ion-searchbar>
  </ion-navbar>
  <ion-toolbar class="group-select-container" no-border-top>
    <group-select></group-select>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <!-- <div class="spinner-container" *ngIf="visitingsIsLoading$ | async"> -->
    <!-- <ion-spinner></ion-spinner> -->
  <!-- </div> -->

  <div class="tabel">
    <!-- Start of current month label with clients list  -->
    <ion-list class="tabel-clients-list">
      <ion-item>
        <span class="title">
          <ion-calendar-month-selector [year]="y" [month]="m" (onBack)="back()" (onForward)="forward()"></ion-calendar-month-selector>
        </span>
      </ion-item>
      <ng-container *ngFor="let client of clientsAfterSearch">
        <ion-item>
          <span class="tabel-clients-list__name">{{client.lastName}}</span>
          <span class="tabel-clients-list__name">{{client.firstName}}</span>
        </ion-item>
      </ng-container>
    </ion-list>
    <!-- End of current month label with clients list  -->

    <!-- Start of total visiting and amount list  -->
    <div class="tabel-total-list" *ngIf="isStatistics">
      <ion-list>
        <ion-item class="tabel-checkboxes-list__item-date">
          <div class="total">
            <div class="sum">Відвідано</div>
            <div>{{dates.length}}</div>
          </div>
        </ion-item>
        <ng-container *ngFor="let client of clientsAfterSearch">
          <ion-item class="tabel-checkboxes-list__item-date">
            <div class="visiting-counter">
              <counter
              [isMoney]="false"
              [dates]="dates"
              [client]="client"
              [groupKey]="selectedGroupKey$ | async"
              [visitingsMap]="visitingsMap$ | async"
              ></counter>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>

    <div class="tabel-total-list" *ngIf="isStatistics">
      <ion-list>
        <ion-item class="tabel-checkboxes-list__item-date">
          <div class="total">
            <div class="sum">Оплачено</div>
          </div>
        </ion-item>
        <ng-container *ngFor="let client of clientsAfterSearch">
          <ion-item class="tabel-checkboxes-list__item-date">
            <div class="visiting-counter">
              <counter
              [isMoney]="true"
              [isDebtCounter]="true"
              [group]="(groupsMap$ | async)[selectedGroupKey$ | async]"
              [dates]="dates"
              [client]="client"
              [groupKey]="selectedGroupKey$ | async"
              [visitingsMap]="visitingsMap$ | async"
              ></counter>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>

    <div class="tabel-total-list" *ngIf="isStatistics">
      <ion-list>
        <ion-item class="tabel-checkboxes-list__item-date">
          <div class="total">
            <div class="sum">Неоплатив</div>
          </div>
        </ion-item>
        <ng-container *ngFor="let client of clientsAfterSearch">
          <ion-item class="tabel-checkboxes-list__item-date">
            <div class="visiting-counter">
              <counter
              [isMoney]="true"
              [isDebtCounter]="true"
              [group]="(groupsMap$ | async)[selectedGroupKey$ | async]"
              [dates]="dates"
              [client]="client"
              [groupKey]="selectedGroupKey$ | async"
              [visitingsMap]="visitingsMap$ | async"
              ></counter>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>

    <div class="tabel-total-list" *ngIf="isStatistics">
      <ion-list>
        <ion-item class="tabel-checkboxes-list__item-date">
          <div class="total">
            <div class="sum">Здано</div>
            <!-- <div>{{dates.length}}</div> -->
          </div>
        </ion-item>
        <ng-container *ngFor="let client of clientsAfterSearch">
          <ion-item class="tabel-checkboxes-list__item-date">
            <div class="visiting-counter">
              <counter
              [isMoney]="true"
              [dates]="dates"
              [client]="client"
              [groupKey]="selectedGroupKey$ | async"
              [visitingsMap]="visitingsMap$ | async"
              ></counter>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <!-- End of total visiting and amount list  -->

    <!-- Start of total visiting and amount list  -->
    <div class="tabel-total-list" *ngIf="isStatistics">
      <ion-list>
        <ion-item class="tabel-checkboxes-list__item-date">
          <div class="total">
            <div class="sum">Борг</div>
            <!-- <div>{{dates.length}}</div> -->
          </div>
        </ion-item>
        <ng-container *ngFor="let client of clientsAfterSearch">
          <ion-item class="tabel-checkboxes-list__item-date">
            <div class="visiting-counter">
              <counter
              [isMoney]="isMoney"
              [isDebt]="true"
              [group]="(groupsMap$ | async)[selectedGroupKey$ | async]"
              [dates]="dates"
              [client]="client"
              [groupKey]="selectedGroupKey$ | async"
              [visitingsMap]="visitingsMap$ | async"
              ></counter>
            </div>
          </ion-item>
        </ng-container>
      </ion-list>
    </div>
    <!-- End of total visiting and amount list  -->

    <!-- Start of total visiting and amount list  -->
    <ion-list class="tabel-checkboxes-list" *ngIf="!isStatistics">
      <ion-item class="tabel-checkboxes-list__item-date header">
        <div class="dates" *ngFor="let date of dates" [ngClass]="{'today': isToday(date)}">
          <div>{{date | date: 'EEEEEE'}}</div>
          <div>{{date | date: 'dd'}}</div>
        </div>
      </ion-item>
      <ng-container *ngFor="let client of clientsAfterSearch">
        <ion-item class="tabel-checkboxes-list__item-date">
          <div class="tabel-checkboxes-list__date" *ngFor="let date of dates" [ngClass]="{'today': isToday(date)}">
            <visiting
              [isMoney]="isMoney"
              [date]="date"
              [client]="client"
              [clubKey]="clubKey$ | async"
              [groupKey]="selectedGroupKey$ | async"
              [visitingsLoadingMap]="visitingsLoadingMap$ | async"
              [visitingsMap]="visitingsMap$ | async"
              ></visiting>
          </div>
        </ion-item>
      </ng-container>
    </ion-list>
    <!-- End of total visiting and amount list  -->
  </div>

  <div margin *ngIf="isEmpty(clientsMapByGroupKey$ | async, selectedGroupKey$ | async)">
    <h3>{{text.empty}}</h3>
    <button ion-button navPush="AddClientPage">{{text.add}}</button>
  </div>

</ion-content>