page-chart {
  .calendar-container {
    ion-grid {
      height: 4.4rem !important;
      ion-row {
        flex-direction: column !important;
      }
    }
  }

  .has-group-select {
    padding-bottom: 0;
  }

  .group-select-container {
    padding: 0;
    min-height: 4rem;
  }
  .add {
    font-size: 2.4rem;
  }
}
