<ion-header>
  <ion-navbar class="has-group-select" no-border-bottom>
    <div class="calendar-container">
      <ion-calendar-month-selector [year]="y" [month]="m" (onBack)="back()" (onForward)="forward()"></ion-calendar-month-selector>
    </div>
  </ion-navbar>
  <ion-toolbar class="group-select-container" no-border-top>
    <group-select></group-select>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <!-- <div class="spinner-container"> -->
    <!-- <ion-spinner></ion-spinner> -->
  <!-- </div> -->
  <div>
    <canvas #barCanvas></canvas>
  </div>
  <div>
    <canvas #doughnutCanvas></canvas>
  </div>
  <div>
    <canvas #lineCanvas></canvas>
  </div>

</ion-content>