<ion-header>
  <ion-toolbar>
    <ion-title>{{text.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <!-- <p>{{clubName}}</p> -->
  <!-- <ion-list>
    <ion-list-header>
      {{text.paymentHeader}}
    </ion-list-header>
    <button ion-item (click)="toPayment()">
      {{text.payment}}
    </button>
  </ion-list> -->
  <ion-list>
    <ion-list-header>
      {{text.another}}
    </ion-list-header>
    <button [disabled]="isLoading$ | async" ion-item (click)="logOut()">
      <div class="logout">
        <span margin-right>{{text.exit}}</span>
        <ion-spinner *ngIf="isLoading$ | async"></ion-spinner>
      </div>
    </button>
  </ion-list>
</ion-content>