page-payment {

  .scroll-content{
    overflow-y: hidden;

    .iframe {
      width: 100%;
      height: calc(100vh - 7rem);
      overflow: scroll !important;
      border: 0px solid transparent;
      .start-menu .btn {
        margin: 0 10px;
      }
    }
  }

}
