<ion-header>

    <ion-navbar>
      <ion-title>Оплата</ion-title>
    </ion-navbar>

  </ion-header>

<ion-content no-bounce>
  <iframe class="iframe" [src]="paymentSrc" scrolling="yes"
  webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
</ion-content>