// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-title-ios, .toolbar-title-md{
    font-weight: normal;
    .header-segment-button {
        max-width: 70px !important;
    }
}
.content-ios:not([no-bounce])>.scroll-content::before { bottom: 0; }

.spinner-container {
    display: flex;
    justify-content: center;
    height: 79.5vh;
    align-items: center;
    ion-spinner {
        width: 2.3em;
        height: 2.3em;
    }
  }