visiting {
  width: 100%;
  height: 100%;
  .visiting-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .checked {
    color: color($colors, secondary);
  }
  .debt {
    background: rgba(255, 0, 0, 0.205);
  }
}