<ng-container *ngIf="!isMoney">
  <div class="visiting-content checked" *ngIf="showCheckmark" tappable (click)="checkoutVisiting()">
    <ion-icon name="md-checkmark"></ion-icon>
  </div>
  <div class="visiting-content" *ngIf="showNoData">
    <ion-icon name="md-radio-button-off"></ion-icon>
  </div>
  <div class="visiting-content" *ngIf="showCheckmarkSpinner">
    <ion-spinner></ion-spinner>
  </div>
  <div class="visiting-content" *ngIf="showCircle" tappable (click)="checkoutVisiting()">
    <ion-icon name="md-radio-button-off"></ion-icon>
  </div>
</ng-container>
<ng-container *ngIf="isMoney">
  <div class="visiting-content checked" *ngIf="!showCheckmarkSpinner" [ngClass]="{'checked': amount, 'debt': isDebt}" tappable (click)="checkoutMoney()">
    <span>{{amount}}</span>
  </div>
  <div class="visiting-content" *ngIf="showCheckmarkSpinner">
    <ion-spinner></ion-spinner>
  </div>
</ng-container>