<ion-list>
  <ion-item-sliding *ngFor="let client of list; let i = index" [attr.data-index]="i">
    <ion-item>
      <h2>{{i + 1}} {{client.firstName}} {{client.lastName}}</h2>
      <h3>{{client.telephone}}</h3>
      <p>{{groupsService.getName(client.group)}}</p>
      <ion-icon item-end name="call" tappable (click)="callTo(client.telephone)"></ion-icon>
      <!-- <ion-icon item-end name="chatboxes"></ion-icon> -->
      <!-- <ion-badge item-end>{{client.trainingCount}}</ion-badge> -->
    </ion-item>
    <ion-item-options side="right">
      <button ion-button color="warning">
        {{text.edit}}
      </button>
      <button ion-button color="danger">
        <div>{{text.hide}}</div>
        <div>{{text.fromList}}</div>
      </button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

<h3 margin *ngIf="!data || !data.length">
  {{text.emptyList}}
</h3>
<h3 margin *ngIf="data && (!list || !list.length)">
  {{text.emptySearch}}
</h3>