<ng-container *ngIf="!isMoney">
  {{visitingsCounter}}
</ng-container>
<ng-container *ngIf="isMoney && !isDebtCounter && !isDebt">
  {{amountCounter}}
</ng-container>
<ng-container *ngIf="isMoney && !isDebtCounter && isDebt">
  {{amountDebt}}
</ng-container>
<ng-container *ngIf="isMoney && !isDebt && isDebtCounter">
  {{debtCounter}}
</ng-container>