<ion-header>
  <ion-navbar>
    <ion-title>{{text.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2 text-center>{{text.signupSuccess}}</h2>
  <h5 margin>{{text.note}}</h5>
  <div class="btn-center">
    <button ion-button (click)="toSignInPage()">{{text.action}}</button>
  </div>
</ion-content>