<ion-header>
  <ion-navbar>
    <ion-title>{{text.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center>{{text.personalData.title}}</h3>
  <p text-justify>{{text.personalData.content}}</p>

  <h3 text-center>{{text.privacyPolicy.title}}</h3>
  <p text-justify *ngFor="let item of text.privacyPolicy.content">{{item}}</p>
</ion-content>