form {
  .logo {
    height: 10rem;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      margin: 0;
    }
  }
  .auth {
    border-top: none !important;
    border-bottom: none !important;
    .item-block .item-inner {
      border-bottom: none !important;
    }
    &.ng-invalid.ng-dirty, .ng-touched.ng-invalid {
      >.item-inner {
        border-bottom: 0.55px solid red !important;
      } 
    }
    &.ng-valid {
      >.item-inner {
        border-bottom: 0.55px solid green !important;
      }
    }
  }
  .error {
    color: red;
    p {
      color: red;
    }
  }
  p a {
    color: #2732cc;
  }
}