<ion-header>
	<ion-navbar>
		<ion-title>{{text.title}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<form (ngSubmit)="onSubmit()" [formGroup]="form">
		<div class="logo">
      <h2>{{text.smartJournal}}</h2>
      <h5>{{text.digitalJournal}}</h5>
		</div>
		<ion-list>
			<ion-item class="auth">
				<ion-label floating>{{text.email}}</ion-label>
				<ion-input type="email" formControlName="email"></ion-input>
			</ion-item>
			<ion-item class="error" no-lines *ngIf="hasError(email, form)">
				<p *ngIf="required(email, form)">
					{{text.notEmpty}}
        </p>
				<p *ngIf="minlength(email, form)">
					{{PatternsProvider.min}} {{text.min}}
        </p>
				<p *ngIf="maxlength(email, form)">
					{{PatternsProvider.max}} {{text.max}}
        </p>
				<p *ngIf="!minlength(email, form) && !maxlength(email, form) && pattern(email, form)">
				  {{text.emailExample}}
        </p>
			</ion-item>
			<ion-item class="auth">
				<ion-label floating>{{text.password}}</ion-label>
				<ion-input type="password" formControlName="password"></ion-input>
			</ion-item>
			<ion-item class="error" no-lines *ngIf="hasError(password, form)">
				<p *ngIf="required(password, form)">
					{{text.notEmpty}}
        </p>
				<p *ngIf="minlength(password, form)">
					{{PatternsProvider.min}} {{text.min}}
        </p>
				<p *ngIf="maxlength(password, form)">
					{{PatternsProvider.max}} {{text.max}}
        </p>
			</ion-item>
			<p class="error" margin *ngIf="isError$ | async">{{getAuthErrorMessage(error$ | async, form)}}</p>
		</ion-list>
		<div>
			<async-btn [data]="asyncBtnData"></async-btn>
      <p margin text-center (click)="goToForgotPasswordPage()"><a>{{text.forgotPassword}}</a></p>
		</div>
	</form>
</ion-content>
