
<ion-header>
  <ion-navbar>
    <ion-title>Додати групу</ion-title>
    <ion-buttons end>
      <ion-spinner *ngIf="isLoading$ | async"></ion-spinner>
      <button ion-button *ngIf="!(isLoading$ | async)" [disabled]="canCreate()" (click)="create()">Створити
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <input type="text">
      <ion-label floating>Назва нової групи</ion-label>
      <ion-input maxlength="50" type="text" [(ngModel)]="data.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Вартість місяця тренувань в {{currencyService.getSelectedCurrency()}}</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="data.amountMonth" name="amountMonth"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Вартість одного тренування в {{currencyService.getSelectedCurrency()}}</ion-label>
      <ion-input type="number" min="0" [(ngModel)]="data.amountDay" name="amountDay"></ion-input>
    </ion-item>
  </ion-list>
  <h2 margin>Графік занять</h2>
  <p margin>
    Виберіть дні тренувань та час їх початку
  </p>
  <ion-list *ngIf="data.schedule && data.schedule.length">
    <ion-item *ngFor="let item of data.schedule">
      <ion-label>{{dateService.daysMap[item.day]}}</ion-label>
      <ion-datetime displayFormat="HH:mm" [ngModel]="item.hh + ':' + item.mm" (ionChange)="setTime($event, item)"></ion-datetime>
    </ion-item>
  </ion-list>
  <div class="add-btn-container">
    <button margin-bottom color="light" ion-button round (click)="addSchedule()">Вибрати дні тренуваннь</button>
    <ion-select class="days" [selectOptions]="selectOptions" multiple="true">
      <ion-option *ngFor="let day of daysList" [value]="day.value">{{day.name}}</ion-option>
    </ion-select>
  </div>
</ion-content>
